.hero-heder {
    background-image: linear-gradient(
        to top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .btn__dark {
    color: var(--alt-tittle-cl);
    background-color: var(--button-bg);
    padding: 10px 32px 10px 32px;
  }

  .block--dark-bg {
    background-color: var(--footer-bg);
  }
  